@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {    
    --background: 208 100% 90%;
    --foreground: 0 0% 5%;
    --card: 208 100% 85%;
    --card-foreground: 209 100% 15%;
    --popover: 209 100% 95%;
    --popover-foreground: 209 100% 15%;
    --primary: 148 70% 50%;
    --primary-foreground: 209 70% 15%;
    --secondary: 209 100% 95%;
    --secondary-foreground: 0 0% 10%;
    --muted: 209 100% 61%;
    --muted-foreground: 209 20% 10%;
    --accent: 209 100% 61%;
    --accent-foreground: 209 100% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;;
    --border: 209 100% 90%;
    --input: 209 100% 90%;
    --ring: 148 70% 50%;
  }

  .dark {
    --background: 208 100% 7%;
    --foreground: 0 0% 95%;
    --card: 208 100% 17%;
    --card-foreground: 0 0% 95%;
    --popover: 209 100% 15%;
    --popover-foreground: 209 100% 95%;
    --primary: 148 70% 50%;
    --primary-foreground: 148 70% 97.3%;
    --secondary: 209 100% 15%;
    --secondary-foreground: 0 0% 98%;
    --muted: 209 100% 25%;
    --muted-foreground: 209 100% 100%;
    --accent: 209 100% 25%;
    --accent-foreground: 209 100% 98%;
    --destructive: 0 62.8% 50.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 209 100% 15%;
    --input: 209 100% 15%;
    --ring: 148 70% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer base {
  .link {
    @apply underline underline-offset-4 decoration-foreground/50 hover:decoration-2 hover:decoration-primary;
  }
}

@font-face {
  font-family: 'InterVariable';
  font-style: normal;
  font-weight: 400 700;
  font-display: swap;
  src:
    url('/fonts/InterVariable.woff2') format('woff2-variations'),
    url('/fonts/InterVariable.ttf') format('truetype-variations');
}

@font-face {
  font-family: 'InterVariable';
  font-style: italic;
  font-weight: 400 700;
  font-display: swap;
  src:
    url('/fonts/InterVariable-Italic.woff2') format('woff2-variations'),
    url('/fonts/InterVariable-Italic.ttf') format('truetype-variations');
}

/* Static fonts as fallback */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    url('/fonts/Inter-Regular.woff2') format('woff2'),
    url('/fonts/Inter-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src:
    url('/fonts/Inter-Medium.woff2') format('woff2'),
    url('/fonts/Inter-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src:
    url('/fonts/Inter-SemiBold.woff2') format('woff2'),
    url('/fonts/Inter-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
    url('/fonts/Inter-Bold.woff2') format('woff2'),
    url('/fonts/Inter-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src:
    url('/fonts/Inter-Italic.woff2') format('woff2'),
    url('/fonts/Inter-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src:
    url('/fonts/Inter-MediumItalic.woff2') format('woff2'),
    url('/fonts/Inter-MediumItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Algo';
  font-style: normal;
  font-weight: 400;
  src:
    url('/fonts/Algo.woff2') format('woff2'),
    url('/fonts/Algo.ttf') format('truetype');
}

.\[\&\>div\>label\]\:step > div > label {
  counter-increment: step;
}

.\[\&\>div\>label\]\:step > div > label:before {
  position: absolute;
  display: inline-flex;
  height: 2.25rem;
  width: 2.25rem;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  border-width: 4px;
  border-color: hsl(var(--background));
  background-color: hsl(var(--muted));
  text-align: center;
  text-indent: -1px;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono',
    'Courier New', monospace;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  margin-left: -50px;
  margin-top: -4px;
  content: counter(step);
}

.\[\&\>div\>label\]\:step > div.completed > label:before {
  background-color: theme(colors.green.900);
  color: theme(colors.green.500);
  content: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiMyMmM1NWUiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBzdHlsZT0ibWFyZ2luLXRvcDogMnB4OyI+PHBhdGggZD0iTTIwIDYgOSAxN2wtNS01Ii8+PC9zdmc+');
  font-size: 1.25rem;
}

.\[\&\>div\>label\]\:step > div.completed.skipped > label:before {
  background-color: theme(colors.green.900);
  color: theme(colors.green.500);
  content: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiMyMmM1NWUiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIj48cGF0aCBkPSJNMTggNiA2IDE4Ii8+PHBhdGggZD0ibTYgNiAxMiAxMiIvPjwvc3ZnPg==');
  font-size: 1.4rem;
  filter: grayscale(100%);
}
